<div class="container1">
  <div align="center">
    <h3>Sign in</h3>
  </div>

  <!--<form action="/" method="post">-->


  <div class="container">
    <label for="uname"><b>Username</b></label>
    <input id="uname" [(ngModel)]="model.user" type="text" placeholder="Enter Username" name="uname" required>

    <label for="psw"><b>Password</b></label>
    <input id="psw" [(ngModel)]="model.password" type="password" placeholder="Enter Password" name="psw" required>
    <input type="checkbox" value="lsRememberMe" id="rememberMe"> <label for="rememberMe">Remember me</label>
    <div class="align-content-center">
      <button (click)="getauth()" type="submit">Login</button>
    </div>
  </div>
  <!--</form>-->
  <div style="color: #253EE7" align="center">
    <h5 routerLink="/signup">New User? Create Your Account</h5>
  </div>
</div>
