input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}



button {
  background-color: #253EE7;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 30%;
}

button:hover {
  opacity: 0.8;
}



.container {
  padding: 50px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

.container {
  border: 2px solid gray;
  padding: 40px;
  max-width:600px;
  margin:40px auto;
  border-radius: 10px;
  box-shadow:0 4px 10px 4px ;
}
.align-content-center {
  padding-left: 40%;
}



