.container {
  border: 2px solid ;
  padding: 40px;
  max-width:600px;
  margin:40px auto;
  border-radius: 10px;

}
button {
  background-color: #253EE7;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 30%;
}
input[type=text], input[type=password], input[type=email] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
