<div class="container1">
  <div align="center">
    <h2>
      Create Your Account
    </h2>
  </div>
  <div class="container">
    <label for="uname"><b>Name</b></label>
    <input id="uname" type="text" placeholder="Enter your name" name="uname" required>
    <label for="email"><b>Email</b></label>
    <input id="email" type="email" placeholder="Username@domain.com" required>
    <label for="password"><b>Password</b></label>
    <input id="password" type="password" placeholder="Password" required>
    <div align="center">
      <button  type="submit">Sign up</button>
    </div>

  </div>
</div>
